<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/test.css">
<body>
    <h1>Form Test</h1>

    <form method="POST" action="/submit">
        <input name="title" />
        <button type="submit">Send</button>
    </form>
</body>

</html>